body {
  background-color: #0C0B0D;
  color: #C1CED9;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav ul {
  list-style-type: none;
  padding: 0;
  background-color: #333;
  width: 100%;
  text-align: center;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav ul li a:hover {
  background-color: #111;
}

h1, h2, p {
  margin: 10px 0;
}

.main-image {
  width: 304px;
  height: 228px;
}

.image-container {
  position: relative;
  display: inline-block;
  margin-top: 20px;
}

.image-container img {
  display: block;
  width: 100%;
  height: auto;
}

.image-container .footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  background: rgba(0, 0, 0, 0.6);
  color: #C1CED9;
  text-align: center;
  font-size: 16px;
}

.link-container {
  margin-top: 20px;
}

a {
  color: #A4B3BF;
}

a:hover {
  text-decoration: underline;
}